.footer {
    padding-bottom: 88px;
    @include responsive_mobile {
        &-admin {
            padding-top: 30px;

            &__img {
                width: 100px;
                margin: 0 auto;
            }

            &__text {
                text-align: center;
                display: block;
                margin-top: 10px;
                font-size: 1.3rem;
            }
        }
    }
}
